site_name: Containerlab Studio Documentation
site_description: Documentation for Containerlab Studio
site_author: Arista Networks
site_url: http://SERVER_IP_PLACEHOLDER/helpcenter/
use_directory_urls: true

# Copyright
copyright: Copyright &copy; 2025 Arista Networks

# Configuration
theme:
  name: material
  custom_dir: docs/overrides
  logo: images/logo_white.png
  palette:
    primary: custom
    accent: cyan
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.suggest
    - search.highlight
    - search.share
    - toc.integrate
    - content.code.copy
    - content.code.annotate
  font:
    text: Roboto
    code: Roboto Mono

# Plugins
plugins:
  - search:
      lang: en
  - minify:
      minify_html: true
      minify_js: false
      minify_css: true
      htmlmin_opts:
        remove_comments: true
      css_files:
        - stylesheets/extra.css

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - admonition
  - toc:
      permalink: true
      toc_depth: 3
  - attr_list
  - md_in_html
  - tables

# Navigation
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Guides:
    - Login Guide: guides/login-guide.md
    - Topology Designer: guides/topology-designer.md
  - Templates:
    - Overview: topology-templates/templates.md

# Extra configuration
extra:
  cache_id: 'dev'
